.btn--white{
   box-shadow: 0 2px 3px $color-blue-2;
    @include style-text($fs-1,$fw-2,$color-blue-2);
    @include style-button($bd-1 solid $color-blue-2, $pd-3,$pd-4,$bd-2, transparent);
    &:hover{
      @include style-button($bd-1 solid $color-blue-2, $pd-3,$pd-4,$bd-2, $color-blue-2);
      @include style-text($fs-1,$fw-2,$color-white-1);
    }
 }


.btn--blue{
   margin-left: $mg-2/2;
   @include style-text($fs-1,$fw-2,$color-white-1);
   @include style-button(
      none,
       $pd-3,
       $pd-4,
       $bd-2,
      linear-gradient(120deg, #60a4f4, #2a73dd)
   );
   &:hover{
      @include style-text($fs-1,$fw-2,$color-white-1);
      opacity: 0.75;
   }
}